@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.Sidebar {
		@apply h-screen w-52	 z-40 ease-in-out duration-300 bg-white overflow-hidden border-r-2 border-gray-200;
	}
	.Sidebartop {
		@apply flex  h-10 items-center top-0 pl-6 text-sky-600 rounded-b-lg font-mono	 font-bold;
	}
	.top {
		@apply items-center mt-10 mx-auto text-3xl;
	}

	.sidebarMenu {
		@apply flex flex-col mt-24 justify-between items-start h-full;
	}
	.submenu {
		@apply flex flex-col w-full;
	}
	.Container {
		@apply flex flex-col overflow-hidden;
	}
	.App {
		@apply  flex overflow-hidden;
	}
	.Analysis {
		@apply relative
	}
	.affichage {
		@apply text-black ml-10 

	}
	.list {
		@apply flex;
	}
	.sidebarList {
		@apply justify-between;
	}
	.Title {
		@apply mt-10 ml-8
	}
.bouton {
	 @apply w-fit h-fit border-2 border-slate-900 ml-10
}
	.Package {
		@apply w-screen border-2 border-slate-900 h-screen rounded-lg m-2 overflow-y-hidden
	}

	.sidebarListItem a {
		@apply text-gray-400 hover:text-sky-600;
	}
	.sidebarMenu .sidebarListItem {
		@apply flex flex-col md:flex md:flex-row text-slate-900 pl-2  py-2 cursor-pointer list-none mb-4 text-xs  items-center rounded-xl duration-300;
	}

	.sidebarIcon {
		@apply p-0 mr-8;
	}
	.Bell {
		@apply text-xs mt-2
	}
	
	.welcomebar {
		@apply flex w-screen mt-8  items-center
	}
	.TopLeft {
		@apply  text-sky-600 font-mono ml-10 mt-4
	}
	.TopRight {
		@apply absolute flex mr-20 justify-end right-0 top-8 pl-10
	}
	.Username {
		@apply text-xs
	}
	.Profile {
		@apply flex
	}
	.WelcomeText {
		@apply text-sm 
	}
	.scrollbar::-webkit-scrollbar {
		width: 10px;
	}
	.scrollbar::-webkit-scrollbar-thumb {
		background: #3f3f46;
		height: 5px;
		border-radius: 10px;
	}
}
.Profile {
	background-color: rgb(54, 159, 255,0.1) ;
	padding-left: -10px;
	padding-right: 10px;
}

.sidebarListItem a {
	text-decoration: none;
}
